.my-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
}
.my-header{
    background: #fcfdff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-container{
    max-width: 1300px;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    padding: 0 10px;

}
